<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/pulp-fiction">
    <ion-thumbnail slot="start">
      <img alt="Filme Pulp-Fiction" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tptjnB2LDbuUWya9Cx5sQtv5hqb.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>Pulp Fiction: Tempo de Violência</h1>
    </ion-label>
  </ion-item>
</ion-content>
