<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/pulp-fiction">
    <ion-thumbnail slot="start">
      <img alt="Filme Pulp-Fiction" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tptjnB2LDbuUWya9Cx5sQtv5hqb.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>Pulp Fiction: Tempo de Violência</h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/poderoso-chefao">
    <ion-thumbnail slot="start">
      <img alt="Filme Poderoso Chefão" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/u8LAG1JI57U9p0s8TyEEeoykR5d.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>O Poderoso Chefão</h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/homens-sentenca">
    <ion-thumbnail slot="start">
      <img alt="Filme Poderoso Chefão" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/q8RGf4SbVCObCySZ4PIGsn5wFm6.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>12 Homens e Uma Sentença</h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/forrest-gump">
    <ion-thumbnail slot="start">
      <img alt="Filme Forrest Gump" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/lsn4YWMiwkN0Ijsj2oE81OmODFA.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>Forrest Gump: O Contador de Histórias</h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/clube-da-luta">
    <ion-thumbnail slot="start">
      <img alt="Filme Clube da Luta" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/mZDc9F3uNSgUNaudb1VtumPs3dL.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>Clube da Luta</h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/o-pianista">
    <ion-thumbnail slot="start">
      <img alt="Filme O Pianista" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/s0evYrftQZepUEaLPUFUdRvBG80.jpg" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h1>O Pianista</h1>
    </ion-label>
  </ion-item>
</ion-content>
